$primary-color: #000001;
$font-stack: monospace;

nav{
    ul{
        margin: 0;
        padding: 1rem;
        list-style: none;
    }

    li{display: inline-block;
    }
    a {
        text-decoration: none;
        color:$primary-color
    }
}